{% extends "base.html" %}

{% load static %}

{% block head_files %}
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}">
{% endblock head_files %}

{% block content %}

    <div class="row">
        <!-- aside -->
        <div class="col s3 aside blue-grey darken-3">
            <!-- perfil -->
            <div class="collection">
                <div class="collection-item avatar valign-wrapper">
                    <img src="img/mussum.jpg" alt="" class="circle">
                    <span class="title valign">{{ user }}</span>
                    <a href="{% url 'accounts:dashboard' %}" class="secondary-content valign"><i class="material-icons">perm_identity</i></a>
                </div>
            </div>
            <!-- /perfil -->

            <!-- pomodoros -->
            <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header teal lighten-4">
                        <strong>Hoje</strong>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons red-text">play_circle_outline</i>
                        Pomodoro's
                    </div>
                    <div class="collapsible-body teal lighten-3">

                        {% for pomodoro in user.timer.all %}
                            {% if pomodoro.status == 0 %}
                                <span>#</span>
                            {% endif %}
                        {% endfor %}

                    </div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons blue-text">replay_5</i>
                        Break's
                    </div>
                    <div class="collapsible-body teal lighten-3"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons teal-text">replay_30</i>
                        Long Break's
                    </div>
                    <div class="collapsible-body teal lighten-3"><p>Lorem ipsum dolor sit amet.</p></div>
                </li>
            </ul>
            <!-- /pomodoros -->

            <!-- sair -->
            <div class="btns-footer">
                <a href="{% url 'accounts:logout' %}" class="waves-effect waves-light btn red close">
                    <i class="material-icons left">input</i>Sair
                </a>
            </div>
            <!-- /sair -->
        </div>
        <!-- /aside -->
        
        <!-- content -->
        <div id="content" class="col s9 content offset-s3">
            <!-- title -->
            <nav class="top-nav teal">
                <div class="container">
                    <div class="nav-wrapper">
                        <a class="page-title">
                            Pomopro Timer
                        </a>
                    </div>
                </div>
            </nav>
            <!-- /title -->

            <div class="col m6 offset-m3 content-crono">
                <!-- buttons pomodoro -->
                <div class="center">
                    <a href="{% url 'core:add_timer' 0 %}" id="pomo-timer" class="waves-effect waves-light btn-large red">
                        <i class="material-icons left">play_circle_outline</i>
                        Pomodoro
                    </a>
                    <a id="short-break" class="waves-effect waves-light btn-large blue">
                        <i class="material-icons left">replay_5</i>
                        Break
                    </a>
                    <a id="long-break" class="waves-effect waves-light btn-large">
                        <i class="material-icons left">replay_30</i>
                        Long Break
                    </a>
                </div>
                <!-- buttons pomodoro -->

                <!-- number -->
                <div id="timer" class="crono-number center">
                    25:00
                </div>
                <!-- /number -->

                <!-- progress -->
                <div id="progress-bar" class="progress red lighten-4">
                    <div class="determinate red"></div>
                </div>
                <!-- /progress -->

                <!-- buttons play -->
                <div class="center">
                    <a id="play-timer" class="btn-floating btn-large waves-effect waves-light red">
                        <i class="material-icons">play_arrow</i>
                    </a>
                    <a id="pause-timer" class="btn-floating btn-large waves-effect waves-light blue">
                        <i class="material-icons">pause</i>
                    </a>
                    <a id="stop-timer" class="btn-floating btn-large waves-effect waves-light teal">
                        <i class="material-icons">stop</i>
                    </a>
                    
                </div>
                <!-- /buttons play -->

            </div>                

        </div>
        <!-- /content -->

    </div>

{% endblock content %}

{% block scripts %}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{% static "js/timer.js" %}" type="text/javascript"></script>
{% endblock scripts %}