{% extends "base.html" %}

{% load static %}

{% block head_files %}
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}">
{% endblock head_files %}

{% block content %}
    <main>

        <div class="row">
            <!-- aside -->
            <div class="col s3 aside blue-grey darken-3">
                <!-- perfil -->
                <div class="collection">
                    <div class="collection-item avatar valign-wrapper">
                        <img src="img/mussum.jpg" alt="" class="circle">
                        <span class="title valign">{{ user }}</span>
                        <a href="{% url 'accounts:dashboard' %}" class="secondary-content valign"><i class="material-icons">perm_identity</i></a>
                    </div>
                </div>
                <!-- /perfil -->
                
                <!-- menu editar -->
                <div class="collection">
                    <a href="#!" class="collection-item active">Meu perfil</a>
                    <a href="{% url 'accounts:edit' %}" class="collection-item">Editar perfil</a>
                    <a href="{% url 'accounts:edit_password' %}" class="collection-item">Editar senha</a>
                </div>
                <!-- /menu editar -->

                
                <div class="btns-footer">
                    <!-- sair -->
                    <a href="{% url 'accounts:logout' %}" class="waves-effect waves-light btn red btn-close">
                        <i class="material-icons left">input</i>
                        Sair
                    </a>
                    <!-- /sair -->
                    
                    <!-- timer -->
                    <a href="{% url 'core:timer' %}" class="waves-effect waves-light btn blue btn-pomopro">
                        <i class="material-icons left">query_builder</i>
                        Pomopro Timer
                    </a>
                    <!-- /timer -->                        
                </div>
                


            </div>
            <!-- /aside -->
            
            <!-- content -->
            <div id="content" class="col s9 content offset-s3">
                <!-- title -->
                <nav class="top-nav teal">
                    <div class="container">
                        <div class="nav-wrapper">
                            <a class="page-title">
                                Meu Perfil
                            </a>
                        </div>
                    </div>
                </nav>
                <!-- /title -->

                <div class="container content-perfil">
                    <div class="row message">
                        {% for message in messages  %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                    <img src="img/mussum.jpg" alt="" class="circle">
                    <ul>
                        <li><strong>Nome</strong>: {{ user }}</li>
                        <li><strong>E-mail</strong>: {{ user.email }}</li>
                        <li><strong>Data Nascimento</strong>: {{ user.date_birth|date:'d/m/Y' }}</li>
                    </ul>
                </div>
            </div>
            <!-- /content -->

        </div>

    </main>
{% endblock %}