{% extends "base.html" %}

{% load static %}

{% block head_files %}
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}">
{% endblock head_files %}

{% block content %}
    <main>

        <div class="row">
            <!-- aside -->
            <div class="col s3 aside blue-grey darken-3">
                <!-- perfil -->
                <div class="collection">
                    <div class="collection-item avatar valign-wrapper">
                        <img src="" alt="" class="circle">
                        <span class="title valign">{{ user }}</span>
                        <a href="{% url 'accounts:dashboard' %}" class="secondary-content valign"><i class="material-icons">perm_identity</i></a>
                    </div>
                </div>
                <!-- /perfil -->
                
                <!-- menu editar -->
                <div class="collection">
                    <a href="{% url 'accounts:dashboard' %}" class="collection-item">Meu perfil</a>
                    <a href="{% url 'accounts:edit' %}" class="collection-item">Editar perfil</a>
                    <a href="#!" class="collection-item active">Editar senha</a>
                </div>
                <!-- /menu editar -->

                
                <div class="btns-footer">
                    <!-- sair -->
                    <a href="{% url 'accounts:logout' %}" class="waves-effect waves-light btn red btn-close">
                        <i class="material-icons left">input</i>
                        Sair
                    </a>
                    <!-- /sair -->
                    
                    <!-- timer -->
                    <a href="{% url 'core:timer' %}" class="waves-effect waves-light btn blue btn-pomopro">
                        <i class="material-icons left">query_builder</i>
                        Pomopro Timer
                    </a>
                    <!-- /timer -->                        
                </div>
                


            </div>
            <!-- /aside -->
            
            <!-- content -->
            <div id="content" class="col s9 content offset-s3">
                <!-- title -->
                <nav class="top-nav teal">
                    <div class="container">
                        <div class="nav-wrapper">
                            <a class="page-title">
                                Editar Senha
                            </a>
                        </div>
                    </div>
                </nav>
                <!-- /title -->

                <div class="container content-perfil">
                    {% if success %}
                        <div class="row message">
                            <p>Sua senha foi alterada com sucesso.</p>
                        </div>
                    {% endif %}
                    <form class="col s12 m6" method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}

                        {% for field in form %}
                            <div class="row">
                                <div class="input-field col s12">
                                    {{ field }}
                                    {{ field.label_tag }}
                                    {{ field.errors }}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="card-action">
                            <button class="btn waves-effect waves-light" type="submit" name="action">
                                Alterar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /content -->

        </div>

    </main>
{% endblock %}