/*====================================*\
    Aside
\*====================================*/
.aside{
    height: 100%;
    position: fixed;
}

/* Avatar */
.collection .collection-item.avatar{
    min-height: 84px;
    padding-left: 92px;
}
.collection .collection-item.avatar .circle{
    width: 60px;
    height: 60px;
}
.collection .collection-item.avatar .secondary-content{
    top:30px;
}

/* Close */
.btn-close{
    position: absolute; bottom: 10px; left: 10px;
}
.btn-pomopro{
    position: absolute; bottom: 10px; left: 150px;
}

/*====================================*\
    Content
\*====================================*/
#content.content{
    height: 100%;
    padding: 0;
}

/* Title */
nav.top-nav {
    height: 122px;
    box-shadow: none;
}
nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
}

.content-crono{
    margin-top: 10rem;
}

/* Botoes pomodoro */
.btn-large{
    margin: 0 5px;
}

/* Numero Cronometro */
.crono-number{
    font-size: 7rem;
    margin: 4rem 0;
}
